* {
    /*Reset padding, margin and border on all elements*/
    padding: 0px;
    margin: 0px;
    border: none;

    /*Hide overflow to remove scroller in browsers*/
    overflow: hidden;
}

#warmestColour {
    width: 300px;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #401201;
  }

#warmColour {
    width: 300px;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #73473D;
    }

#coldColour {
    width: 300px;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #7B9BA6;
    }

#coldestColour {
    width: 300px;
    border: 25px;
    padding: 25px;
    margin: 25px;
    background-color: #EEF4F2;
    }

  .p{
    border-style:double;
  }
