html{
  height: 100%;
  width: 100%;
}
/*
#colorwheel{
  height: 100%;
  width: 100%;
}*/

body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#warmestColour {
    width: 150px;
    height: 150px;
    border-top: 100px;
    border-left: 100px;
    background-color: #401201;
  }

#warmColour {
  width: 150px;
  height: 150px;
  border-bottom: 100px;
  border-left: 100px;
    background-color: #73473D;
    }

#coldColour {
  width: 150px;
  height: 150px;
  border-top: 100px;
  border-right: 100px;
    background-color: #7B9BA6;
    }

#coldestColour {
  width: 150px;
  height: 150px;
  border-bottom: 100px;
  border-right: 100px;
    background-color: #EEF4F2;
    }

    #hey{
      width: 450px;
      height: 450px;
    }
    #hey1{
      width: 450px;
      height: 450px;
    }
     #hey2{
          width: 450px;
          height: 450px;
        }
         #hey3{
              width: 450px;
              height: 450px;
            }
