* {
    /*Hide overflow to remove scroller in browsers*/
    overflow: hidden;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#warmestColour {
    width: 150px;
    height: 150px;
    border-top: 100px;
    border-left: 100px;
    background-color: hsl(16.2, 96.9%, 12.7%);
  }

#warmColour {
  width: 150px;
  height: 150px;
  border-bottom: 100px;
  border-left: 100px;
  background-color:hsl(11.1, 30.7%, 34.5%);
    }

#coldColour {
  width: 150px;
  height: 150px;
  border-top: 100px;
  border-right: 100px;
  background-color: hsl(195.3, 19.5%, 56.7%);
    }

#coldestColour {
  width: 150px;
  height: 150px;
  border-bottom: 100px;
  border-right: 100px;
  background-color: hsl(160, 21.4%, 94.5%);
    }
