* {
    /*Hide overflow to remove scroller in browsers*/
    overflow: hidden;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#warmestColour {
    width: 150px;
    height: 150px;
    border-top: 100px;
    border-left: 100px;
    background-color: #ffff96;
  }
  #warmestColour :hover{
    box-shadow: inset 0 0 0 3px #3a7999;

  }

#warmColour {
  width: 150px;
  height: 150px;
  border-bottom: 100px;
  border-left: 100px;
  background-color: #ffffba;
    }

#coldColour {
  width: 150px;
  height: 150px;
  border-top: 100px;
  border-right: 100px;
  background-color: #ffffdf;
    }

#coldestColour {
  width: 150px;
  height: 150px;
  border-bottom: 100px;
  border-right: 100px;
  background-color: #ffffff;
    }
